alias ls="ls --color=auto -FG"
alias la="ls -a"
alias ll="ls -lh"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias erc="subl ~/dotfiles/.bashrc"
alias eprof="subl ~/dotfiles/.bash_profile"
alias eal="subl ~/dotfiles/.aliases"
alias egi="subl ~/dotfiles/.gitignore"
alias eshp="subl ~/dotfiles/.starship"

alias ca="conda activate"
alias jn="jupyter notebook"
alias scrap="cp '/Users/bushrow/bin/Scrap Template.ipynb' '/Users/bushrow/bin/Scrap Notebook.ipynb' && jn '/Users/bushrow/bin/Scrap Notebook.ipynb'"


# ========================================================
# ================ Amazon-specific aliases ===============
# ========================================================

alias mw="mwinit -f"
alias km="kinit -f && mw"
alias rs_nb='cp "/Users/bushrow/bin/Redshift Connection Template.ipynb" $(pwd)/Untitled.ipynb && jn $(pwd)/Untitled.ipynb'
alias lucid="cd /Users/bushrow/Projects/TeamRepos/Lucid-DAaS/"
alias team="cd /Users/bushrow/Projects/TeamRepos/PXTSolutionsBIRepository/Prod/"

alias ada_update='ada credentials update --once --provider=conduit'

alias bb=brazil-build
alias bba='brazil-build apollo-pkg'
alias bre='brazil-runtime-exec'
alias brc='brazil-recursive-cmd'
alias bws='brazil ws'
alias bwsuse='bws use --gitMode -p'
alias bwscreate='bws create -n'
alias brc=brazil-recursive-cmd
alias bbr='brc brazil-build'
alias bball='brc --allPackages'
alias bbb='brc --allPackages brazil-build'
alias bbra='bbr apollo-pkg'


# ========================================================
# ================= Git aliases/functions ================
# ========================================================

alias gs="git status"
alias ga="git add ."
alias gc="git commit"
alias gcm="gc -m"
alias gac="ga && gcm"
alias gd="git diff -M"
alias gdn="gd --name-status"
alias gl="git log"
alias glo="git log --oneline"
alias gls="git log --pretty=short"
alias glg="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches"
alias pull="git pull"
alias gf="git fetch"
alias push="git push"
alias new_push="git push -u origin main"
alias co="git checkout"
alias grs="git restore --staged"
alias gr="git restore"
alias gb="git branch"
alias gm="git merge"

gsa () {
    # Print repository status for all git repositories in subdirectories

    base_dir=$(pwd)
    updates=0
    for f in $(find . -name '.git')
    do
        repo_folder="$(dirname "$f")"
        full_repo_folder="${base_dir}/${repo_folder:2}/"
        repo_name="$(basename "$repo_folder")"
        cd $full_repo_folder
        status=$(git status)
        if [[ "$status" == *"nothing to commit"* ]]; then
            continue
        fi
        ((updates+=1))
        echo $'\n'
        echo "==================="
        echo $repo_name | tr "a-z" "A-Z"
        echo "==================="
        echo $'\n'
        git status
    done
    if [[ $updates == 0 ]]; then
        echo "All repositories are up to date. Nothing to commit."
    fi
    cd $base_dir
}


# ========================================================
# =============== Docker aliases/functions ===============
# ========================================================

alias dev_dkr_login='aws ecr get-login-password --profile=bi_dev_admin --region=us-east-1 | docker login --username AWS --password-stdin 527063204165.dkr.ecr.us-east-1.amazonaws.com'

dkr_login_aws () {
    # Login to Docker with AWS ECR credentials
    # Up to four arguments can be passed: 
    #   $1: AWS profile name
    #   $2: AWS region name
    #   $3: Target ECR account number
    #   $4: Target ECR region

    if [[ ! -z $1 ]]; then
        prof="--profile=$1"
    fi
    if [[ ! -z $2 ]]; then
        region_name=$2
    else
        region_name=$(aws configure get region $prof)
    fi
    if [ -z $3 ]; then
        tgt_acct=$(aws sts get-caller-identity $prof --query Account --output text)
    else
        tgt_acct=$3
    fi
    if [ -z $4 ]; then
        tgt_region=$region_name
    else
        tgt_region=$4
    fi
    region="--region=$region_name"
    aws ecr get-login-password $prof $region | docker login --username AWS --password-stdin $tgt_acct.dkr.ecr.$tgt_region.amazonaws.com;
}
