# Folder view configuration files
.DS_Store
Desktop.ini
*.icloud

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Python files
*.pyc
.ipynb_checkpoints/
__pycache__

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache